{% liquid
  assign breadcrumbs = section.settings.breadcrumb | split: ","
%}

<div class="panel-space py-6 text-sm text-gray-500">
  {% for breadcrumb in breadcrumbs %}
    {% liquid
      if forloop.index0 == 0
        assign class_name = "font-bold text-primary"
      else
        assign class_name = ""
      endif

      assign parts = breadcrumb | split: ":"
      assign label = parts[0]
      assign url = parts[1]
    %}

    {% if url != blank %}
      <a href="{{ url}}" class="{{ class_name }}">{{ label }}</a>
    {% else %}
      <span class="{{ class_name }}">{{ label }}</span>
    {% endif %}

    {% if forloop.last == false %}
      <i class="fa-light fa-chevron-right"></i>
    {% endif %}
  {% endfor %}
</div>