<div class="panel-space w-full">
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr class="text-left text-sm font-semibold text-gray-900">
        <th class="pe-3 py-3.5 ">ID</th>
        <th class="px-3 py-3.5 ">Name</th>
        <th class="ps-3 py-3.5 ">Last Update</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
    {% for item in items %}
      <tr class="text-sm text-gray-500">
        <td class="whitespace-nowrap pe-3 py-4"><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.id}}</a></td>
        <td class="whitespace-nowrap px-3 py-4"><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a></td>
        <td class="whitespace-nowrap ps-3 py-4">{{item.updated_at | to_time | date: "%Y-%m-%d %H:%M:%S" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="my-4">
    <a href="/admin/{{type.tableName}}/new" class="inline-flex items-center px-4 py-2 bg-primary text-white text-sm rounded-md">
      New {{ type.className }}
    </a>
  </div>
</div>